
:root {
    --dark-red: #740001;
    --dark-green: #1a472a;
    --dark-blue: #0e1a40;
    --ravenclaw-blue: #222f5b;
    --hufflepuff-canary: #ecb939;
    --gryff-red: #ae0001;
    --slytherin-light-silver: #aaaaaa;
  }

body {
    background-image: linear-gradient(var(--slytherin-light-silver),var(--hufflepuff-canary), var(--ravenclaw-blue));
    background-repeat: no-repeat;
    background-size: 100vw 100vw;
}
nav{
    color: white;
    text-align: center;
    padding: 1%;
    justify-content: space-between;
}
nav a{
    
    box-shadow:
    inset 0 0 50px var(--dark-red),     
    inset 20px 0 80px var(--dark-red),  
    inset -20px 0 80px var(--gryff-red), 
    inset 20px 0 300px var(--dark-red), 
    inset -20px 0 300px var(--gryff-red),
    0 0 10px var(--gryff-red),           
    -5px 0 10px var(--gryff-red), 
    5px 0 10px var(--dark-red);
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
      
}
nav a:hover {
    text-decoration: underline;
    color: black;
  }
div {
 
    margin: 2%;
    padding-bottom: 3%;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
table {
    border-color: var(--dark-green);
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
th {
    background-color: lightcoral;
    
}
td {
    background-color: wheat;
}
#new {
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    color: var(--hufflepuff-canary);
    text-decoration: none;
    background-image: linear-gradient(45deg, var(--dark-blue), var(--dark-green));

}
#new:hover {
    transform: scale(1.05);
}
#new a {
    text-decoration: none;
    color: var(--hufflepuff-canary);
}
#new a:visited {
    text-decoration: none;
    color: var(--hufflepuff-canary);
}
#adjust {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    text-align: center;
    color: var(--hufflepuff-canary);
    text-decoration: none;
    background-image: linear-gradient(45deg, var(--dark-blue), var(--dark-green));
}
#adjust:hover {
    transform: scale(1.05);
}
#adjust:visited {
    text-decoration: none;
    color: var(--hufflepuff-canary);
}
#adjust1 {color: var(--hufflepuff-canary);}