<html>
<!-- Adapted from the people.html UI design -->
<head>
	<title>Books</title>
	<link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}

	function newPerson() {
		showform('insert');
	}

	function updatePerson(pid) {
		showform('update');
	}

	function deletePerson(pid) {
		showform('delete');
	}

	function browsePeople() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browsePeople()">
	<h1>Books</h1> <nav>
        <a href="index">Homepage</a>
        <a href="books">Books</a>
        <a>Authors</a>
        <a>Members</a>
        <a>Reservations</a>
    </nav>
	<div id="browse">
		<p><a href="#" onClick="newPerson()">Add New</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_books/{{item.bookISBN}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_books/{{item.bookISBN}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into bsg_people-->
		<form id="addBook" action="/books" method="post">
			<legend><strong>Add Book</strong></legend>
			<fieldset>
                
                    <label>ISBN:</label>
                    <input type="text" name="isbn" required>
                    <label>Title:</label>
                    <input type="text" name="title" required>
                    <label>Genre:</label>
                    <input type="text" name="genre">
                    <label>Total Copies:</label>
                    <input type="text" name="copies" required>
                    <label>Copies Available:</label>
                    <input type="text" name="available" required>
                    <label>Price:</label>
                    <input type="text" name="price" required>
				
            </fieldset>

            <!-- Create 'Add Book' and 'Cancel' buttons -->
			<input type="submit" value="Add Book" name="addBook" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browsePeople()"> 
        </form>
	</div><!--insert-->

</body>
</html>