<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='main.css')}}" rel="stylesheet" type="text/css" />
    <title>CS 340 Frontend</title>
</head>
<body>
    <h1>Hogwarts Library Management System</h1> 
    <nav>
        <a href="index">Homepage</a>
        <a href="books">Books</a>
        <a href="authors">Authors</a>
        <a href="members">Members</a>
        <a href="reservations">Reservations</a>
        <a href="books_authors">Authors and Books</a>
        <a href="statuses">Statuses</a>
    </nav>
    <main>
        <section>
            <h2>Homepage</h2>
            <p>This project is for CS340 Group 45 including Rimsha Ejaz and Joel Gilger.</p>
            <p>The Library Management System database will help library members keep track 
                of books that are currently available for checkout. Currently, Hogwarts Library
                 has no management system, as it primarily relies on magic to satisfy its 
                 needs. What if a muggle wants to help around the library? Clearly, 
                 muggles are unable to use magic, so we are designing a muggle-capable 
                 database so that they can help with transactions between members of the 
                 library and what books they want to check out.</p>
        </section>
    </main>
    
</body>
</html>